@import "tailwindcss";



/* ===== Custom thin scrollbar (Exness-like) ===== */

/* Chrome, Edge, Safari */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* slate-300 */
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8; /* slate-400 */
}

/* Firefox */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}


@layer utilities {
  .animate-dropdown {
    animation: dropdown 0.15s ease-out;
  }

  @keyframes dropdown {
    from {
      opacity: 0;
      transform: translateY(-6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .menu-item {
    @apply flex items-center gap-3 px-4 py-2 text-sm text-slate-700 hover:bg-gray-50;
  }
}
